body {
    text-align: center;
/*    font-family: "Comic Sans MS", cursive; */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number {
    display: inline-block;
    position: relative;
    font-size: 20em;
    border-radius: 100%;
    padding: 0.2em;
    width: 1em;
    height: 1em;
}

.number > span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning {
    background-color: #fffe40;
}

.alert {
    background-color: #f00;
}

.caption {
    font-size: 2em;
    font-style: italic;
}

